body{
    text-align: center;
}

#cabecalho{

    height: 300px;
    background-color: blue;
}

#conteudo{
    height: 300px;
    background-color: gray ;
}

#linha2{

    height: 300px;
    background-color: red;
}
